---
layout: default
---


<div class="home">

  <h1 class="page-heading">Aktuelles</h1>
<!--
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h2 class="page-heading">Events</h2>
-->
  <ul>
    {% for event in site.data.events %}
      <li>
        <span>{{ event.date }}:</span>
        <a href="{{ site.baseurl }}/veranstaltungen/{{ event.slug }}.html">{{ event.name }}{% if event.speaker %} - {{ event.speaker.name }}{% endif %} </a>
      </li>
    {% endfor %}
  </ul>


  <h2>Sponsoren</h2>

  <div class="sponsors">
    <a href="http://www.shi-gmbh.com/" target="_new"><img src="{{site.baseurl}}/images/sponsoren/shi.png" /></a>
    <a href="http://www.sandsmedia.com" target="_new"><img src="{{site.baseurl}}/images/sponsoren/sunds.jpg" /></a>
    <a href="http://www.jarchitect.com/" target="_new"><img src="{{site.baseurl}}/images/sponsoren/jarchitect.png" /></a>
  </div>

</div>
