---
layout: default
---

<div class="home">

  <div class="index_banner" >
  	<a href="http://www.javaland.eu/javaland-2015/"><img  src ="{{ site.baseurl }}/images/banner/2015-JavaLand-Banner_Fruehbucher-468x60.jpg" /></a> <a href="https://jax.de/2015/"><img src="/images/banner/JAX_2015_Fullsize.gif" /></a>
  </div>

  <h1 class="page-heading">Aktuelles</h1>
<!--
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h2 class="page-heading">Events</h2>
-->
  <ul>
    {% for event in site.data.events %}
      <li>
        <span>{{ event.date }}:</span>
        <a href="{{ site.baseurl }}/veranstaltungen/{{ event.slug }}.html">{{ event.name }}{% if event.speaker %} - {{ event.speaker.name }}{% endif %} </a>
      </li>
    {% endfor %}
  </ul>


 <div class="sponsors">
  	<h2>Sponsoren</h2>
  	<div class="sponsor-col-wrapper">
  		<div class ="sponsor-col">
  			<a href="http://www.shi-gmbh.com/" target="_new"><img src="{{ site.baseurl }}/images/sponsoren/shi.png" /></a>
  		</div>
  		<div class ="sponsor-col">
  			<a href="http://www.sandsmedia.com" target="_new"><img src="{{ site.baseurl }}/images/sponsoren/sunds.jpg" /></a>
  		</div>
  		<div class ="sponsor-col">
  			<a href="http://www.jarchitect.com/" target="_new"><img src="{{ site.baseurl }}/images/sponsoren/jarchitect.png" /></a>
  		</div>
  	</div>
  
  </div>

</div>
