---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.event.name }}</h1>
    <p>
		{% if page.event.speaker %}Sprecher: {{page.event.speaker.name}}. <br/>{% endif %} 
    	Zeit: {{page.event.date}}, {{page.event.time}}. Ort: {{ page.event.address.name }}</p>
    <p><a href="{{page.xing}}">Anmeldung via Xing erbeten.</a></p>
    
  </header>

  <h2>Beschreibung</h2>
  <article class="post-content">
    {{ page.event.description }}
  </article>


  {% if page.event.speaker %} 
  <h2>Sprecher</h2>
  <article class="post-content">
  	 {% if page.event.speaker.image %} 
  	 	<img src="{{page.event.speaker.image}}" class="speaker-image">
  	 {% endif %} 	
     {{ page.event.speaker.bio }}
  </article>
  {% endif %} 	
  <h2>Ort</h2>
  <article class="post-content">
  	{{ page.event.address.name }}<br/>
    {{ page.event.address.street }}<br/>
    {{ page.event.address.place }}<br/>
  </article>

</div>
