---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.event.name }}</h1>
    <p>
		{% if page.event.speaker %}Sprecher: {{page.event.speaker.name}}. <br/>{% endif %} 
		<br/>
		<div>
			<div style="float:left">
				Zeit: {{page.event.date}}, {{page.event.time}}. Ort: {{ page.event.address.name }}
			</div>
			<div style="float:right">
				{% if page.event.ics %}
  					<a href="{{page.event.ics}}"><img width="15px" src="../images/icons/calendar.png" />Download für Kalender</a>
  				{% endif %} 	
			</div>
		</div>
    	<br style="clear:both" />
    {% if page.xing %} 
    <p><a href="{{page.xing}}">Anmeldung via Xing erbeten.</a></p>
    {% endif %} 
  </header>

  <h2>Beschreibung</h2>
  <article class="post-content">
    {{ page.event.description }}
  </article>


  {% if page.event.speaker %} 
  <h2>Sprecher</h2>
  <article class="post-content">
  	 {% if page.event.speaker.image %} 
  	 	<img src="{{page.event.speaker.image | prepend: site.baseurl }}" class="speaker-image" />
  	 {% endif %} 	
     {{ page.event.speaker.bio }}
  </article>
  {% if page.event.speaker.image %} 
  <br style="clear:both"/>
  {% endif %}   
  {% endif %} 	
  <h2>Ort</h2>
  <article class="post-content">
  	{{ page.event.address.name }}<br/>
    {{ page.event.address.street }}<br/>
    {{ page.event.address.place }}<br/>
  </article>
 	
  <article class="post-content">
  	{% if page.event.download %}
  		<h4>Downloads</h4>
  		<a href="{{page.event.download.url}}">{{page.event.download.name}}</a>
  	{% endif %} 
  </article>
 	 
 
 
</div>
